{% extends 'base.html' %}
{% block title %}
Педадок - Главная страница{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Добро пожаловать в Педадок!</h1>
    <p>Педадок - это платформа для управления учебными материалами и взаимодействия с учениками.</p>
    <p>Здесь вы можете найти информацию о нашей команде, целях и возможностях платформы.</p>
    <p>Для получения дополнительной информации, пожалуйста, посетите страницу "О нас".</p>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

{% ebdblock %}
